<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--填写要引用的包名+类名-->
<mapper namespace="com.reggie.dao.DishMapper">

    <select id="selectAllDish" resultType="com.reggie.pojo.Dish">
        select * from dish;
    </select>
    <select id="selectDishById" resultType="com.reggie.pojo.Dish">
        select * from dish where id=#{id}
    </select>
    <select id="selectDishByCategory" resultType="com.reggie.pojo.Dish">
        select * from dish where category_id=#{id}
    </select>

</mapper>