<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--填写要引用的包名+类名-->
<mapper namespace="com.reggie.dao.EmployeeMapper">
    <sql id="insert">name,username,password,phone,sex,id_number,create_time,update_time,create_user,update_user</sql>
    <insert id="insertEmployee">
        insert employee(<include refid="insert"/>) values
        (#{name},#{username},#{password},#{phone},#{sex},#{idNumber},#{createTime},#{updateTime},#{createUser},#{updateUser})
    </insert>

    <select id="selectEmployeeById" resultType="com.reggie.pojo.Employee">
        select * from employee where id=#{id}
    </select>
    <select id="selectEmployeeByUsername" resultType="com.reggie.pojo.Employee">
        select * from employee where username=#{username}
    </select>
    <select id="selectEmployees" resultType="com.reggie.pojo.Employee">
        select * from employee
        <if test="name!=null">
            where name like "%"#{name}"%"
        </if>
        limit #{offset},#{limit}
    </select>
    <select id="selectEmployeeCount" resultType="java.lang.Integer">
        select count(*) from employee
    </select>
</mapper>