<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--填写要引用的包名+类名-->
<mapper namespace="com.reggie.dao.UserMapper">
    <insert id="insertUser">
        insert into user values(
        #{id},#{name},#{phone},#{sex},#{idNumber},#{avatar},#{status}
        )
    </insert>

    <select id="selectUserByPhone" resultType="com.reggie.pojo.User">
        select * from user where phone=#{phone}
    </select>
    <select id="selectUserById" resultType="com.reggie.pojo.User">
        select * from user where id=#{id}
    </select>
</mapper>